<div class="features">

    {% for feature in site.translations[site.lang].global.features %}

    {% if feature.title %}
    <div class="feature">
        <div>
            <span class="emoji-icon">
                {{ feature.emoji }}
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>